// :root {
// 	--color_accent: #2947A9;
// }

// colors

$color_white: #fff;
$color_white_hover: #e7e7e7;

$color_black: #000;
$color_black_hover: #333333;
$color_dark: #0c122d;

$color_grey: #c4c4c4;
$color_grey_2: #575c74;
$color_grey_bolt: #616777;
$color_grey_bolt_transparent: rgba(97, 103, 119, 0.7);
$color_grey_bolt_transparent_2: rgba(87, 92, 116, 1);
$color_blue: #1b5fc1;
$color_blue_hover: #164c9a;
$color_blue_transparent: rgba(27, 95, 193, 1);

$color_accent: #ffb800;

//FONTS
$font_1: 'Open Sans', sans-serif;
$font_2: 'Rubik', sans-serif;
$transition_dur: 0.3s;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */
