@use '../variables' as *;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;

	cursor: pointer;
	text-decoration: none;
}

//color extends
%blue_btn {
	@include st_btn;
	font-family: $font_2;
	color: $color_white;
	background-color: $color_blue;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: $color_blue_hover;
		border-radius: 
	}
}
%blue_btn_with_shadow {
	@include st_btn;
	font-family: $font_2;
	color: $color_white;
	background-color: $color_blue;
	transition: background-color 0.3s ease;
	box-shadow: 0px 10px 15px 0px #1b5fc130;

	&:hover {
		background-color: $color_blue_hover;
	}
}
%transp_btn_1 {
	@include st_btn;
	font-weight: 500;
	color: $color_accent;
	background-color: transparent;
	transition: 0.3s ease;
	border: 2px solid $color_accent;

	&:hover {
		color: #e6a600;
	}
}

//size extends
%btn_size_1 {
	max-width: 12.3rem;
	max-height: 4.7rem;
	padding: 2.5rem 9rem;
	line-height: 3rem;
	font-weight: 500;
	font-size: 1.4rem;
	border-radius: 8px;
}
%btn_size_2 {
	max-width: 11.5rem;
	max-height: 4.6rem;
	padding: 0.8rem 2.4rem;
	line-height: 3rem;
	font-weight: 500;
	font-size: 1.4rem;
	border-radius: 8px;
}
%btn_size_3 {
	max-width: 12.5rem;
	max-height: 4.6rem;
	padding: 0.8rem 2.4rem;
	line-height: 3rem;
	font-weight: 500;
	font-size: 1.4rem;
	border-radius: 8px;
}

.btn {
	@include st_btn;
}

.btn--header {
	@extend %blue_btn;
	@extend %btn_size_1;
}

.btn--shop {
	@extend %blue_btn;
	@extend %btn_size_2;
}

.btn--learn-more {
	@extend %transp_btn_1;
	@extend %btn_size_3;
}
